<!DOCTYPE html><html dir="ltr"><head> {{ partial "head.html" .}}</head><body class=""><div style="
    background: #198652;
    margin-bottom: 21px;
    text-align: center;
    padding: 22px 0px;
    line-height: 36px;
">Verthash Hardfork will occur at block 1,500,000, approximately Jan 30th, 2021<a href="https://wenvtcfork.xyz/" target="_blank" style="
    color: white;
    /* text-decoration: underline; */
    background: #33373c;
    padding: 7px 10px;
    border-radius: 4px;
    margin: 10px;
">View Fork Timer</a></div>{{ partial "nav.html" .}}<div class="separator-greenLine"> {{ partial "home-whatIsVertcoin.html" .}}</div><div class="separator-greenLine" style="padding-top: 72px;"> {{ partial "footer.html" .}}</div>{{ partial "js.html" .}} <script type="text/javascript" src="/js/base.js"></script> <script type="text/javascript" src="/js/main.js"></script> </body></html>
